.m-auto {
  margin: auto; }

.mr-20 {
  margin-right: 20px; }

.pt-40 {
  padding-top: 40px; }

.pb-40 {
  padding-bottom: 40px; }

body {
  margin: 0; }

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  max-width: 1622px;
  font-size: 25px; }
  .header .header__logo {
    text-decoration: none; }
    .header .header__logo img {
      width: 25px;
      height: 17px; }
    .header .header__logo b:last-child {
      color: blue; }
  .header .header__narbar a {
    text-decoration: none;
    color: #000000; }
  .header .header__contact {
    display: flex;
    justify-content: center; }
    .header .header__contact img {
      width: 32px;
      height: 32px;
      margin: auto 15px auto auto; }

.get-start {
  position: relative;
  width: 100%;
  height: 916px;
  background-image: url("assets/getstarted.png"); }
  .get-start .get-start__content {
    width: 50%;
    margin-left: 242px;
    padding-top: 300px; }
    .get-start .get-start__content .small-text {
      margin-bottom: 0;
      font-size: 30px;
      color: #BBBBBB; }
    .get-start .get-start__content .slogan {
      margin-top: 0;
      font-size: 75px;
      color: #FFFFFF; }
  .get-start .get-start__social {
    position: absolute;
    left: 0;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 50px;
    background-color: #FFFFFF; }
    .get-start .get-start__social .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid #5EB6E1;
      height: 70px; }

.classes {
  display: flex;
  justify-content: center;
  margin: 100px 150px; }
  .classes .classes__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    width: 476px;
    height: 283px;
    text-decoration: none; }
    .classes .classes__item .classes__item__title {
      margin-bottom: 0;
      font-size: 30px;
      color: #FFFFFF; }
    .classes .classes__item .classes__item__description {
      font-size: 20px;
      color: #BBBBBB; }
    .classes .classes__item .classes__button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 137px;
      height: 39px;
      color: #FFFFFF; }
  .classes .classes--classic {
    background-image: url("assets/classic.png"); }
  .classes .classes--standard {
    background-image: url("assets/standard.png"); }
  .classes .classes--premium {
    background-image: url("assets/premium.png"); }
  .classes .classes__button--classic {
    background-color: #FF6C2C; }
  .classes .classes__button--standard {
    background-color: #945B9F; }
  .classes .classes__button--premium {
    background-color: #5EB6E1; }

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 1622px;
  margin: 150px auto; }
  .welcome .welcome__text {
    width: 40%; }
    .welcome .welcome__text .line {
      width: 30%;
      border-bottom: 2px solid #5EB6E1; }
    .welcome .welcome__text > p:first-child {
      font-size: 15px;
      color: #FF6C2C; }
    .welcome .welcome__text > p:nth-child(2) {
      font-size: 60px;
      margin: 10px 0; }
    .welcome .welcome__text .welcome__text__content {
      margin: 50px 0;
      font-size: 30px; }
      .welcome .welcome__text .welcome__text__content p {
        margin: 50px 0; }
      .welcome .welcome__text .welcome__text__content > p:first-child {
        color: #FF6C2C; }
    .welcome .welcome__text .welcome__button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 243px;
      height: 74px;
      margin-top: 100px;
      text-decoration: none;
      color: #000000;
      font-size: 25px;
      background-color: #5EB6E1;
      border-radius: 15px; }
  .welcome .welcome__image {
    display: flex;
    align-items: center;
    width: 50%;
    margin-left: 10%; }
    .welcome .welcome__image .welcome__image__left {
      width: 50%;
      padding: 30px; }
    .welcome .welcome__image .welcome__image__right {
      width: 50%; }
      .welcome .welcome__image .welcome__image__right img {
        width: 100%;
        padding: 30px; }

.our-classes {
  background-color: #010114;
  margin: 150px 0; }
  .our-classes .our-classes__description {
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 30px 0; }
    .our-classes .our-classes__description p:first-child {
      margin-bottom: 20px;
      color: #FFFFFF;
      font-size: 60px; }
    .our-classes .our-classes__description p:last-child {
      color: #BBBBBB;
      font-size: 30px; }
    .our-classes .our-classes__description .line {
      width: 20%;
      margin: auto;
      border-bottom: 1px solid #5EB6E1; }
  .our-classes .our-classes__courses {
    display: flex;
    flex-wrap: wrap; }
    .our-classes .our-classes__courses .our-classes__courses__item {
      position: relative;
      width: 33.33%;
      height: 500px;
      background-size: 100%; }
      .our-classes .our-classes__courses .our-classes__courses__item .our-classes__courses__item__hover {
        display: none;
        opacity: .9;
        margin: 50px 40px;
        padding: 60px 30px;
        text-align: center;
        background-color: #00A2FF; }
        .our-classes .our-classes__courses .our-classes__courses__item .our-classes__courses__item__hover p:first-child {
          margin: 0 0 10px 0;
          color: #FFFFFF;
          font-size: 45px; }
        .our-classes .our-classes__courses .our-classes__courses__item .our-classes__courses__item__hover p:nth-child(3) {
          margin: 40px 0;
          color: #F6F7FB;
          font-size: 20px; }
        .our-classes .our-classes__courses .our-classes__courses__item .our-classes__courses__item__hover a:last-child {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 200px;
          height: 50px;
          margin: auto;
          text-decoration: none;
          color: #000000;
          font-size: 15px;
          border-radius: 15px;
          background-color: #FFFFFF; }
        .our-classes .our-classes__courses .our-classes__courses__item .our-classes__courses__item__hover .line {
          width: 40%;
          margin: auto;
          border-bottom: 2px solid #FFFFFF; }
      .our-classes .our-classes__courses .our-classes__courses__item .our-classes__courses__item__name {
        position: absolute;
        bottom: 0;
        z-index: 1;
        opacity: .5;
        padding: 30px 0;
        width: 100%;
        color: #FFFFFF;
        font-size: 45px;
        text-align: center;
        background-color: #000000; }
    .our-classes .our-classes__courses .our-classes__courses--class1 {
      background-image: url("assets/class1.png"); }
    .our-classes .our-classes__courses .our-classes__courses--class1:hover .our-classes__courses__item__hover {
      display: block; }
    .our-classes .our-classes__courses .our-classes__courses--class1:hover .our-classes__courses__item__name {
      display: none; }
    .our-classes .our-classes__courses .our-classes__courses--class2:hover .our-classes__courses__item__hover {
      display: block; }
    .our-classes .our-classes__courses .our-classes__courses--class2:hover .our-classes__courses__item__name {
      display: none; }
    .our-classes .our-classes__courses .our-classes__courses--class3:hover .our-classes__courses__item__hover {
      display: block; }
    .our-classes .our-classes__courses .our-classes__courses--class3:hover .our-classes__courses__item__name {
      display: none; }
    .our-classes .our-classes__courses .our-classes__courses--class4:hover .our-classes__courses__item__hover {
      display: block; }
    .our-classes .our-classes__courses .our-classes__courses--class4:hover .our-classes__courses__item__name {
      display: none; }
    .our-classes .our-classes__courses .our-classes__courses--class5:hover .our-classes__courses__item__hover {
      display: block; }
    .our-classes .our-classes__courses .our-classes__courses--class5:hover .our-classes__courses__item__name {
      display: none; }
    .our-classes .our-classes__courses .our-classes__courses--class6:hover .our-classes__courses__item__hover {
      display: block; }
    .our-classes .our-classes__courses .our-classes__courses--class6:hover .our-classes__courses__item__name {
      display: none; }
    .our-classes .our-classes__courses .our-classes__courses--class2 {
      background-image: url("assets/class2.png"); }
    .our-classes .our-classes__courses .our-classes__courses--class3 {
      background-image: url("assets/class3.png"); }
    .our-classes .our-classes__courses .our-classes__courses--class4 {
      background-image: url("assets/class4.png"); }
    .our-classes .our-classes__courses .our-classes__courses--class5 {
      background-image: url("assets/class5.png"); }
    .our-classes .our-classes__courses .our-classes__courses--class6 {
      background-image: url("assets/class6.png"); }

.our-team {
  margin: 150px 0; }
  .our-team .our-team__description {
    width: 50%;
    margin: auto;
    text-align: center; }
    .our-team .our-team__description p:first-child {
      margin-bottom: 10px;
      font-size: 60px; }
    .our-team .our-team__description p:nth-child(3) {
      font-size: 30px; }
    .our-team .our-team__description .line {
      width: 30%;
      margin: auto;
      border-bottom: 1px solid #5EB6E1; }
  .our-team .our-team__member {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0; }
    .our-team .our-team__member .our-team__member__item {
      margin: 10px;
      text-align: center;
      box-shadow: 1px 1px 5px #BBBBBB; }
      .our-team .our-team__member .our-team__member__item img {
        width: 460px;
        height: auto; }
      .our-team .our-team__member .our-team__member__item .our-team__member__item__info p:first-child {
        margin-bottom: 0;
        font-size: 45px; }
      .our-team .our-team__member .our-team__member__item .our-team__member__item__info p:nth-child(2) {
        margin: 10px 0;
        font-size: 30px; }
      .our-team .our-team__member .our-team__member__item .our-team__member__item__info .our-team__member__item__info__social img {
        width: 15px;
        height: 15px;
        margin: 10px; }
  .our-team .our-team__view-all {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 383px;
    height: 92px;
    text-decoration: none;
    color: #000000;
    font-size: 25px;
    border-radius: 15px;
    background-color: #5EB6E1; }

.review {
  position: relative;
  display: flex;
  align-items: center;
  height: 836px;
  margin: 150px 0;
  background-color: #000000; }
  .review .review__item {
    display: none;
    margin: auto;
    width: 50%;
    text-align: center; }
    .review .review__item p:first-child {
      margin-bottom: 0;
      color: #FFFFFF;
      font-size: 60px; }
    .review .review__item .line {
      width: 20%;
      margin: auto;
      border-bottom: 1px solid #5EB6E1; }
    .review .review__item p:nth-child(3) {
      width: 70%;
      margin: 80px auto 60px auto;
      color: #F6F7FB;
      font-size: 30px; }
    .review .review__item p:nth-child(5) {
      margin-bottom: 0;
      color: #FFFFFF;
      font-size: 30px; }
    .review .review__item p:nth-child(6) {
      color: #F6F7FB;
      font-size: 20px;
      margin-top: 10px; }
  .review .review__item--show {
    display: block; }
  .review .review__dots {
    position: absolute;
    bottom: 90px;
    left: 50%;
    display: flex;
    align-items: center;
    transform: translateX(-50%); }
    .review .review__dots div {
      width: 10px;
      height: 10px;
      margin-right: 10px;
      border-radius: 50%;
      background-color: #5EB6E1; }
  .review div.review__dots--show {
    width: 15px;
    height: 15px; }
  .review > img {
    position: absolute;
    width: 39px;
    height: 39px;
    cursor: pointer; }
  .review .review__previous {
    left: 356px; }
  .review .review__next {
    right: 356px; }

.recent-news {
  margin: 150px 0;
  text-align: center; }
  .recent-news p:first-child {
    margin-bottom: 10px;
    font-size: 60px; }
  .recent-news .line {
    width: 5%;
    margin: auto;
    border-bottom: 1px solid #5EB6E1; }
  .recent-news .recent-news__box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0; }
    .recent-news .recent-news__box .recent-news__box__item {
      width: 390px;
      padding: 30px 0;
      margin: 10px;
      background-color: #000000;
      text-decoration: none; }
      .recent-news .recent-news__box .recent-news__box__item .recent-news__box__item__content {
        margin: 30px 30px 0 30px;
        text-align: left; }
        .recent-news .recent-news__box .recent-news__box__item .recent-news__box__item__content p:nth-child(1) {
          color: #5EB6E1;
          font-size: 20px; }
        .recent-news .recent-news__box .recent-news__box__item .recent-news__box__item__content p:nth-child(2), .recent-news .recent-news__box .recent-news__box__item .recent-news__box__item__content span {
          margin-bottom: 30px;
          color: #FFFFFF;
          font-size: 14px; }
        .recent-news .recent-news__box .recent-news__box__item .recent-news__box__item__content .recent-news__box__item__content__details img {
          margin-right: 5px;
          width: 12px;
          height: 12px; }
        .recent-news .recent-news__box .recent-news__box__item .recent-news__box__item__content .recent-news__box__item__content__details img:nth-child(3) {
          margin-left: 20px; }
  .recent-news .recent-news__see-more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 300px;
    height: 74px;
    color: #000000;
    font-size: 25px;
    text-decoration: none;
    border-radius: 15px;
    background-color: #5EB6E1; }

.contact {
  display: flex;
  padding-left: 60px;
  background-color: #181A1F; }
  .contact .contact__form {
    width: 50%;
    padding-top: 100px; }
    .contact .contact__form p:first-child {
      margin-bottom: 0;
      color: #FFFFFF;
      font-size: 60px; }
    .contact .contact__form .line {
      width: 15%;
      margin-left: 20px;
      border: 1px solid #5EB6E1; }
    .contact .contact__form .contact__form__content {
      margin: 20px;
      color: #BBBBBB;
      font-size: 20px; }
      .contact .contact__form .contact__form__content select, .contact .contact__form .contact__form__content input, .contact .contact__form .contact__form__content textarea {
        display: block;
        padding: 5px 5px 5px 20px;
        margin: 40px 0;
        color: #BBBBBB;
        font-size: 20px;
        border: 1px solid #00A2FF;
        background-color: #181A1F; }
        .contact .contact__form .contact__form__content select::placeholder, .contact .contact__form .contact__form__content input::placeholder, .contact .contact__form .contact__form__content textarea::placeholder {
          color: #BBBBBB; }
      .contact .contact__form .contact__form__content select {
        height: 60px;
        width: 670px;
        margin-top: 100px;
        appearance: none;
        background-image: url("assets/dropdown.png");
        background-size: 15px;
        background-repeat: no-repeat;
        background-position: 98%; }
      .contact .contact__form .contact__form__content input {
        width: 645px;
        height: 50px; }
      .contact .contact__form .contact__form__content input:nth-child(3) {
        height: 160px; }
      .contact .contact__form .contact__form__content input:last-child {
        width: 670px;
        height: 60px;
        margin-bottom: 40px;
        color: #000000;
        border-radius: 10px;
        background-color: #5EB6E1;
        cursor: pointer; }
      .contact .contact__form .contact__form__content textarea {
        padding-top: 20px;
        width: 645px;
        height: 350px; }
      .contact .contact__form .contact__form__content span {
        margin-right: 20px; }
      .contact .contact__form .contact__form__content .contact__form__content__social {
        margin-top: 40px; }
        .contact .contact__form .contact__form__content .contact__form__content__social img {
          width: 20px;
          height: 20px;
          margin-right: 30px; }
      .contact .contact__form .contact__form__content form {
        margin-top: 50px; }
  .contact .contact__image {
    width: 50%; }

.more {
  display: flex;
  justify-content: center;
  padding: 100px;
  background-color: #19191C; }
  .more .more__logo {
    position: relative;
    width: 40%;
    font-size: 33px; }
    .more .more__logo a {
      position: absolute;
      bottom: 50px;
      left: 50px;
      text-decoration: none; }
    .more .more__logo img {
      width: 53px;
      height: 28px; }
    .more .more__logo b:nth-child(2) {
      color: #FFFFFF; }
    .more .more__logo b:last-child {
      color: #5EB6E1; }
  .more p {
    font-size: 30px;
    color: #FFFFFF; }
  .more .more__quick-contacts {
    width: 20%;
    padding-right: 100px; }
    .more .more__quick-contacts span {
      color: #BBBBBB;
      font-size: 19px; }
    .more .more__quick-contacts p:nth-child(2) {
      color: #BBBBBB;
      font-size: 25px; }
    .more .more__quick-contacts img {
      margin-right: 10px; }
  .more .more__popular-tags {
    width: 20%;
    padding-right: 100px; }
    .more .more__popular-tags img {
      margin-right: 10px; }
    .more .more__popular-tags a {
      display: inline-block;
      margin: 2px 5px 2px 0;
      padding: 10px 15px;
      color: #BBBBBB;
      font-size: 14px;
      text-decoration: none;
      border: 1px solid #BBBBBB;
      transition-delay: .2s; }
    .more .more__popular-tags a:hover {
      color: #FFFFFF;
      background-color: #5EB6E1; }

footer .footer__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5EB6E1; }
  footer .footer__nav a {
    padding: 30px 70px 30px 0;
    color: #000000;
    font-size: 20px;
    text-decoration: none; }
footer .footer__copy-right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  color: #BBBBBB;
  font-size: 17px;
  background-color: #24272E; }

.button {
  display: block;
  width: 301px;
  height: 92px;
  color: #000000;
  font-size: 30px;
  text-align: center;
  line-height: 92px;
  text-decoration: none;
  background-color: #5EB6E1;
  border-radius: 15px; }

/*# sourceMappingURL=styles.css.map */
